body {
	background-color: whitesmoke;
}

h2 {
	text-align: center;
	font-size:300%;
	margin:0.5%;
	text-shadow: -2px -2px cyan;
}

#contain {
	border:2px outset;
	margin:0 12% 0.5% 12%;
	background-color: aliceblue;
	padding:10px;
	border-radius: 15px 15px 15px 15px;
}

#title {
	font-size:18px;
	text-align: center;
}

#author {
	font-size:14px;
	font-style: italic; 
	padding:0 0 5px 0;
	text-align: center;
}

img, #img {
	width:500px;
	text-align: center;
	margin:auto;
	border-radius:10px 10px 10px 10px;
}